{% extends "user_home.html" %}
{% block body %}
    <div class="container white">
        {% from "_formhelper.html" import render_field %}
        <form method='POST' action="{{ url_for('book') }}">
            <dl>
                {{ render_field(form.departure) }}
                {{ render_field(form.destination) }}
                {{ form.hidden_tag() }}
            </dl>
            <p style="visibility: hidden" id="next"><input type="submit" class="waves-effect waves-light btn"  value="next" ></p>
        </form>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('select').formSelect();
            $("#next").css("visibility", "visible");
        });
    </script>
{% endblock %}
