{% extends "driver_dash.html" %}
{% block body %}
    <div class="row">
        <ul class="collection">
            <li>
                <h4>Login</h4>
                <p>In order to log in, follow the following steps:</p>
                <ul>
                    <li>Enter the login url on browser</li>
                    <li>Enter email and password</li>
                    <li>Click login</li>
                </ul>
            </li>
            <li>
                <h4>Add matatu to queue</h4>
                <p>In order to add a matatu to a queue, follow the following steps:</p>
                <ul>
                    <li>Select town to add matatu to queue at</li>
                    <li>Select route to add matatu to queue at</li>
                </ul>
            </li>
            <li>
                <h4>Remove matatu from queue</h4>
                <p>In order to remove matatu from queue, click on the queue</p>
            </li>
            <li>
                <h4>Logout</h4>
                <p>In order to log out, click on logout on the tab</p>
            </li>
        </ul>
    </div>
{% endblock %}