{% extends "user_home.html" %}
{% block body %}
    <div class="row container">
        <ul class="collection">
            <li class="collection-item collection">
                <h4 class="collection-header">Login</h4>
                <p class="collection-header">In order to log in, follow the following steps:</p>
                <ul class="collection-body">
                    <li class="collection-item">Enter the login url on browser</li>
                    <li class="collection-item">Enter email and password</li>
                    <li class="collection-item">Enter matatu service name</li>
                    <li class="collection-item">Click login</li>
                </ul>
            </li>
            <li class="collection-item collection">
                <h4 class="collection-header">Register</h4>
                <p class="collection-header">In order to register, follow the following steps:</p>
                <ul class="collection-body">
                    <li class="collection-item">Click register</li>
                    <li class="collection-item">Enter all the required information in the required format on the registration form</li>
                    <li class="collection-item">Follow the instructions on the screen</li>
                </ul>
            </li>
            <li class="collection-item collection">
                <h4 class="collection-header">Book</h4>
                <p class="collection-header">In order to book a ticket, follow the following steps:</p>
                <ul class="collection-body">
                    <li class="collection-item">Log in to the traveller front end</li>
                    <li class="collection-item">Click book on the tab</li>
                    <li class="collection-item">Select departure location</li>
                    <li class="collection-item">Select destination location</li>
                    <li class="collection-item">Select matatu service</li>
                    <li class="collection-item">Select destination location if a matatu is available for that destination</li>
                    <li class="collection-item">Select seat number</li>
                    <li class="collection-item">Enter mpesa pin on your mobile phone</li>
                </ul>
            </li>
            <li class="collection-item collection">
                <h4 class="collection-header">History</h4>
                <p class="collection-header">In order to view your ticket history, click history on the tab</p>
            </li>
            <li class="collection-item collection">
                <h4 class="collection-header">Logout</h4>
                <p class="collection-header">In order to log out, click log out on the tab</p>
            </li>
            <li class="collection-item collection">
                <h4 class="collection-header">Contact admin</h4>
                <ul class="collection-body">
                    <li class="collection-item">
                        <i class="material-icons medium">email</i> franklineapiyo@gmail.com
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}