{% extends "user_home.html" %}
{% block body %}
    <div class="row">
        <ul class="collection">
            <li>
                <h4>Login</h4>
                <p>In order to log in, follow the following steps:</p>
                <ul>
                    <li>Enter the login url on browser</li>
                    <li>Enter email and password</li>
                    <li>Enter matatu service name</li>
                    <li>Click login</li>
                </ul>
            </li>
            <li>
                <h4>Register</h4>
                <p>In order to register, follow the following steps:</p>
                <ul>
                    <li>Click register</li>
                    <li>Enter all the required information in the required format on the registration form</li>
                    <li>Follow the instructions on the screen</li>
                </ul>
            </li>
            <li>
                <h4>Book</h4>
                <p>In order to book a ticket, follow the following steps:</p>
                <ul>
                    <li>Log in to the traveller front end</li>
                    <li>Click book on the tab</li>
                    <li>Select departure location</li>
                    <li>Select destination location</li>
                    <li>Select matatu service</li>
                    <li>Select destination location if a matatu is available for that destination</li>
                    <li>Select seat number</li>
                    <li>Enter mpesa pin on your mobile phone</li>
                </ul>
            </li>
            <li>
                <h4>History</h4>
                <p>In order to view your ticket history, click history on the tab</p>
            </li>
            <li>
                <h4>Logout</h4>
                <p>In order to log out, click log out on the tab</p>
            </li>
        </ul>
    </div>
{% endblock %}