{% extends "user_home.html" %}
{% block style %}
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}
{% block body %}
    <p>{{ route_price_services[0].service_name }}</p>
    <ul class="collection">
    {% for route_price_service, link in zip(route_price_services, link_list) %}
        <a href="{{ link }}">
            <li>
                <!--i class="material-icons circle left">folder</i>
                <span class="title"></span-->
                <p>From: {{ route_price_service.route.from_town }}</p>
                <p>To: {{ route_price_service.route.to_town }}</p>
                <p>Price: {{ route_price_service.price }}</p>
                <p>Route NO: {{ route_price_service.route_number }}</p>
            </li>
        </a>
    {% endfor %}
    </ul>
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript">

    </script>
{% endblock %}