{% extends "user_home.html" %}
{% block style %}
    {{ super() }}
    <style type="text/css">

    </style>
{% endblock %}
{% block body %}
    <p>{{ route_price_services[0].service_name }}</p>
    <ul class="collection">
    {% for route_price_service, link, matatu_available, to_location, from_location in zip(route_price_services, link_list, matatu_available_list, to_locations, from_locations) %}
        <a href="
        {% if matatu_available %}
            {{ link }}
         {% else %}
            #
          {% endif %}
        ">
            <li>
                <!--i class="material-icons circle left">folder</i>
                <span class="title"></span-->
                <p>From: {{ from_location.town }}</p>
                <p>To: {{ to_location.town }}</p>
                <p>Price: {{ route_price_service.price }}</p>
                <p>Route NO: {{ route_price_service.route_number }}</p>
                <p>matatu available: {{ matatu_available }}</p>
            </li>
        </a>
    {% endfor %}
    </ul>
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript">

    </script>
{% endblock %}