{% extends "user_home.html" %}
{% block style %}
    {{ super() }}
    <style type="text/css">
        div.mainbody{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction: column;
        }
        div.mainbody > p{
            width: 70%;
            text-align: center;
        }
        div.mainbody > span > i{
            color: #0D47A1;
        }
    </style>
{% endblock %}
{% block body %}
    <ul class="collection">
    {% for route in routes %}
        <!-- TODO make this template more appropriate for what it is being used for -->
        <li>
            <!--i class="material-icons circle left">folder</i>
            <span class="title"></span>
            <p>From: </p-->
            <p>To: {{ route.to_town }}</p>
        </li>
    {% endfor %}
    </ul>
    <div>
    {% if routes|length == 0 %}
       <div class="mainbody">
        <span>
            <i class="material-icons large">ac_unit</i>
        </span>
        <p>
            unexpected
        </p>
       </div>
    {% endif %}
    </div>
{% endblock %}