{% extends "manage.html" %}
{% block body %}
    <div class="row">
        <ul class="collection">
            <li>
                <h4>Login</h4>
                <p>In order to log in, follow the following steps:</p>
                <ul>
                    <li>Enter the login url on browser</li>
                    <li>Enter email and password</li>
                    <li>Enter matatu service name</li>
                    <li>Click login</li>
                </ul>
            </li>
            <li>
                <h4>Add new driver</h4>
                <p>In order to add a new driver, follow the following steps</p>
                <ul>
                    <li>click drivers on the tab</li>
                    <li>Click new driver on the sub tab</li>
                    <li>Enter all the information required on the form</li>
                </ul>
            </li>
            <li>
                <h4>Delete driver</h4>
                <p>In order to delete a driver, click the driver on the list of drivers</p>
            </li>
            <li>
                <h4>Add new matatu</h4>
                <p>In order to add a new matatu, follow the following steps</p>
                <ul>
                    <li>click matatus on the tab</li>
                    <li>Click new matatu on the sub tab</li>
                    <li>Enter all the information required on the form</li>
                </ul>
            </li>
            <li>
                <h4>Delete matatu</h4>
                <p>In order to delete a matatu, click the driver on the list of matatu</p>
            </li>
            <li>
                <h4>Add new route</h4>
                <p>In order to add a new route, follow the following steps</p>
                <ul>
                    <li>Click routes on the main tab</li>
                    <li>Click new route on the sub tab</li>
                    <li>Enter route number</li>
                    <li>Enter route price</li>
                    <li>Enter from location and to location</li>
                    <li>Click add route</li>
                </ul>
            </li>
            <li>
                <h4>Delete route</h4>
                <p>In order to delete a route, click on the route on the list of routes</p>
            </li>
            <li>
                <h4>Add new location</h4>
                <p>In order to add a new location, follow the following steps</p>
                <ul>
                    <li>Click locations on the main tab</li>
                    <li>Click new location on the sub tab</li>
                    <li>Enter name of location on the search box</li>
                    <li>Click precise location on the map</li>
                    <li>Move the marker to intended location</li>
                    <li>Click submit</li>
                    <li>Enter correct location and specific location and click correct</li>
                </ul>
            </li>
            <li>
                <h4>Delete location</h4>
                <p>In order to delete a location, select a location from the list of locations</p>
            </li>
            <li>
                <h4>Add new exec</h4>
                <p>In order to add a new exec, follow the following steps</p>
                <ul>
                    <li>click execs on the tab</li>
                    <li>Click new exec on the sub tab</li>
                    <li>Enter all the information required on the form</li>
                </ul>
            </li>
            <li>
                <h4>Delete exec</h4>
                <p>In order to delete an exec, click on the exec on the list of execs</p>
            </li>
            <li>
                <h4>Add matatu to queue</h4>
                <p>In order to add matatu to a queue, follow the following steps:</p>
                <ul>
                    <li>Click on the matatus tab</li>
                    <li>Click matatu to add to queue</li>
                    <li>Click manage queues subtab</li>
                    <li>Select town to add matatu to queue at</li>
                    <li>Select route to add matatu to queue at</li>
                </ul>
            </li>
            <li>
                <h4>Add driver to a matatu</h4>
                <p>In order to add driver to matatu, follow the following steps:</p>
                <ul>
                    <li>Click on the matatus tab</li>
                    <li>Click on the matatu to add driver to</li>
                    <li>Click on the drivers subtab</li>
                    <li>Click on the driver to add to the matatu</li>
                </ul>
            </li>
            <li>
                <h4>Remove driver from matatu</h4>
                <p>In order to remove a driver from a matatu, follow the following steps:</p>
                <ul>
                    <li>Click on the matatus tab</li>
                    <li>Click on the matatu to add driver to</li>
                    <li>Click on the drivers subtab</li>
                    <li>Click on the driver to remove from the matatu</li>
                </ul>
            </li>
            <li>
                <h4>Remove matatu from queue</h4>
                <p>You can either wait for matatu to be removed from queue automatically or follow the following steps:</p>
                <ul>
                    <li>Click matatus tab</li>
                    <li>Click on manage queues</li>
                    <li>Click on the queue to remove the matatu from</li>
                </ul>
            </li>
            <li>
                <h4>Logout</h4>
                <p>In order to log out, click on logout on the tab</p>
            </li>
        </ul>
    </div>
{% endblock %}

