{% extends "manage.html" %}
{% block sub_tabs %}
    <ul class="tabs">
        <li class="tab col s3 active"><a href="{{ url_for('manage_drivers') }}">drivers</a></li>
        <li class="tab col s3"><a href="{{ url_for('new_driver') }}">new driver</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="row">
        <ul class="collection">
            {% for driver in drivers %}
                <li class="collection-item">
                    <a href="/manage_matatu/{{ driver.id }}">
                        <div>
                            <p>Registration: {{ driver.id }}</p>
                            <p>Driver: {{ driver.middle_name }}</p>
                            <p>Seats: {{ driver.last_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
