{% extends "maintemplate.html" %}
{% block style %}
    {{ super() }}
    <style>
        .mainbody{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .mainbody > i{
            color: #0D47A1;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container mainbody">
    <i class="material-icons large">fingerprint</i>
    {% from "_formhelper.html" import render_field %}
        <form method='POST' action="{{ url_for('matrips_manager_login') }}">
            <dl>
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ form.hidden_tag() }}
            </dl>
            <p><input type=submit value=login>
        </form>
        <p>or <a href="{{ url_for('register_manager_and_service') }}">register</a></p>
    </div>
{% endblock %}