{% extends "manage.html" %}
{% block sub_tabs %}
    <ul class="tabs">
        <li class="tab col s3 active"><a href="{{ url_for('manage_execs') }}">execs</a></li>
        <li class="tab col s3"><a href="{{ url_for('new_exec') }}">new exec</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="row">
        <ul class="collection">
            {% for exec in execs %}
                <li class="collection-item">
                    <a href="#">
                        <div>
                            <p>id number: {{ exec.id }}</p>
                            <p>middle_name: {{ exec.middle_name }}</p>
                            <p>last_name: {{ exec.last_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
