{% extends "manage.html" %}
{% block sub_tabs %}
    <ul class="tabs">
        <li class="tab col s3">{{ registration }}</li>
    </ul>
    <ul class="tabs">
        <li class="tab col s3"><a href="">drivers</a></li>
        <li class="tab col s3"><a href="">manage routes</a></li>
        <li class="tab col s3"><a href="">manage queues</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="row">
        <p>Matatu Driver</p>
        <ul class="collection">
            {% for driver in matatu_drivers %}
                <li class="collection-item">
                    <a href="#">
                        <div>
                            <p>id number: {{ driver.id }}</p>
                            <p>middle_name: {{ driver.middle_name }}</p>
                            <p>last_name: {{ driver.last_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <p>Available drivers</p>
        <ul class="collection">
            {% for driver in potential_drivers %}
                <li class="collection-item">
                    <a href="#">
                        <div>
                            <p>id number: {{ driver.id }}</p>
                            <p>middle_name: {{ driver.middle_name }}</p>
                            <p>last_name: {{ driver.last_name }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}