{% extends "maintemplate2.html" %}
{% block style %}
    {{ super() }}
    <style type="text/css">
        #profile{
            float: right;
            padding-right: 1%;
        }
    </style>
{% endblock %}
{% block menu %}
    <nav>
        <ul class="nav-wrapper">
            <li class="tab col s3"><a href="{{ url_for('manage') }}">Matatus</a></li>
            <li class="tab col s3"><a href="{{ url_for('manage_drivers') }}">Drivers</a></li>
            <li class="tab col s3"><a href="{{ url_for('manage_locations') }}">Locations</a></li>
            <li class="tab col s3"><a href="{{ url_for('manage_execs') }}">Exec</a></li>
            <li class="tab col s3"><a href="{{ url_for("routes") }}">Routes</a></li>
            <li class="tab col s3"><a href="{{url_for('reports') }}">Reports</a></li>
            <li class="tab col s3"><a href={{ url_for("help") }}>help</a></li>
            <li class="tab col s3"><a href="/manager_logout">Logout</a></li>
            <!--li id="profile">test</li-->
        </ul>
    </nav>
    {% block sub_tabs %}
    <ul class="tabs">
        <li class="tab col s3 active"><a href="{{ url_for('manage') }}">matatus</a></li>
        <li class="tab col s3"><a href="{{ url_for('new_matatu') }}">new matatu</a></li>
        <li class="tab col s3"><a href="{{ url_for('matatu_report') }}">matatu reports</a></li>
    </ul>
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="row">
        <ul class="collection">
            {% for matatu in matatus %}
                <li class="collection-item">
                    <a href="/manage_matatu/{{ matatu.registration }}">
                        <div>
                            <p>Registration: {{ matatu.registration }}</p>
                            <p>Driver: {{ matatu.driver }}</p>
                            <p>Seats: {{ matatu.seats }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
