{% extends "user_home.html" %}
{% block style %}
{% endblock %}
{% block body %}
    <div id="seats" class="container">
        <ul>
            {% for seat_number, available_seat in zip(seat_numbers, available_seats) %}
                <li>
                    {% if available_seat %}
                    <a href="/ticket/{{ seat_number }}">
                        {% else %}
                        <a href="#"></a>
                        {% endif %}
                    <div>
                        <p>seat no: {{ seat_number }}</p>
                        <p>available: {{ available_seat }}</p>
                    </div>
                </a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}