{% extends "user_home.html" %}
{% block  main %}
    <div class="container">
    {% from "_formhelper.html" import render_field %}
        <form method='POST' action="{{ url_for('register_traveler') }}">
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.email) }}
                {{ render_field(form.id) }}
                {{ render_field(form.birthday) }}
                {{ render_field(form.password) }}
                {{ render_field(form.password2) }}
                {{ render_field(form.first_name) }}
                {{ render_field(form.middle_name) }}
                {{ render_field(form.last_name) }}
                {{ form.hidden_tag() }}
            </dl>
            <p><input type=submit value=Register>
        </form>
    </div>
{% endblock %}