{% extends "manage.html" %}
{% block sub_tabs %}
    <ul class="tabs">
        <li class="tab col s3 active"><a href="{{ url_for('routes') }}">routes</a></li>
        <li class="tab col s3"><a href="{{ url_for('add_routes') }}">new route</a></li>
        <li class="tab col s3"><a href="{{ url_for('routes_report') }}">routes report</a></li>
    </ul>
{% endblock %}
{% block body %}
    <div class="row">
        <ul class="collection">
        {% block listheader %}
        {% endblock %}
            {% for route_price_service, from_location, to_location in zip(route_price_services, from_locations, to_locations) %}
                <li class="collection-item">
                    <a href="#">
                        <div>
                            <p>price: {{ route_price_service.price }}</p>
                            <p>to location: {{ to_location.town }}</p>
                            <p>from location: {{ from_location.town }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}