{% extends "user_home.html" %}
{% block headScript %}
    <script>
            var map;
            function initMap() {
                var locations = [];
                var services = [];
                var urls = [];
                {% for location, service, url in zip(locations, services_here, urls) %}
                        services.push('{{ service }}')
                        urls.push('{{ url }}')
                        locations.push(['{{location.specific_location}}', '{{location.lat}}', '{{location.lng}}'])
                {% endfor  %}
                ls = locations;

                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                });

                var infowindow = new google.maps.InfoWindow();

                var marker, i;
                var bounds = new google.maps.LatLngBounds();

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map,
                        icon: "/static/images/busmarker.svg"
                    });
                    bounds.extend(marker.position);
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            //i don't want to use streetview static api so i'm going to have to ask the users to upload images

                            console.log(urls)
                            infowindow.setContent('<a href='+urls[i]+'>'+services[i]+','+locations[i][0]+'</a>');
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

                map.fitBounds(bounds);
                map.panToBounds(bounds);

            }
            //center map on services lats and lngs
    </script>
{% endblock %}
{% block style %}
    {{ super() }}
    <style type="text/css">
        div.mainbody{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction: column;
        }
        div.mainbody > p{
            width: 70%;
            text-align: center;
        }
        div.mainbody > span > i{
            color: #0D47A1;
        }
        #map {
            height: 100%;
            margin: 0;
            padding: 0;
        }

    </style>
{% endblock %}
{% block body %}
    <!--TODOne we are going to have a map view here to show all the services in the departure town area using customized markers
        TODOne we must figure out how to remove api keys from html
        TODOne show the toast with info about the service at the marker location. maybe show a picter of the location and so on
    -->
    <div id="map" >

    </div>

{% endblock %}
{% block script %}
        {{ super() }}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&callback=initMap" async defer></script>
{% endblock %}