{% extends "maintemplate.html" %}
{% block style %}
    {{ super() }}
    <style type="text/css">
        #side-bar, #mid-bar {
            padding: 0;
        }

        body {
            height: 100vh;
        }

        #side-bar {
            border: 1px solid black;
            height: 96vh;

        }

        #side-bar > * {
            margin: 0;
            position: relative;
        }

        .user-view-custom > li {
            height: 10vh;
            border: 1px solid white;
        }

        .user-view-custom > li > a {
            color: white;
        }

        #slide-out > li > a {
            color: white;
        }
    </style>
{% endblock %}

{% block menu %}
    <nav class="purple darken-4">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </li>
                {% from "_menuhelper.html" import render_menu %}
                {{ render_menu("hide-on-med-and-down") }}
            </ul>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav purple darken-4">
        {{ render_menu() }}

        <!-- li><a href="{{ url_for('register_traveler') }}" class="waves-effect">register</a></li-->
    </ul>
{% endblock %}





{% block script %}
    {{ super() }}
    <script type="application/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}
